# cp heplify-server.service /etc/systemd/system/
# systemctl daemon-reload
# systemctl start heplify-server
# systemctl enable heplify-server

[Unit]
Description=HEP Server & Switch in Go 
After=network.target

[Service]
Environment="HEPLIFY_CONFIG=-config=/etc/heplify-server.toml"
ExecStart=/usr/local/bin/heplify-server $HEPLIFY_CONFIG
ExecStop=/bin/kill ${MAINPID}
Restart=on-failure
RestartSec=10s
Type=simple

[Install]
WantedBy=multi-user.target
