use homer;
CREATE RETENTION POLICY "60s" ON "homer" DURATION 4w REPLICATION 1 DEFAULT;
CREATE RETENTION POLICY "300s" ON "homer" DURATION 8w REPLICATION 1;
CREATE RETENTION POLICY "3600s" ON "homer" DURATION 16w REPLICATION 1;
CREATE RETENTION POLICY "86400s" ON "homer" DURATION 32w REPLICATION 1;

CREATE CONTINUOUS QUERY cq_300s ON homer RESAMPLE EVERY 1m BEGIN SELECT mean(*) INTO homer."300s".:MEASUREMENT FROM homer."60s"./.*/ GROUP BY time(5m),* END
CREATE CONTINUOUS QUERY cq_3600s ON homer RESAMPLE EVERY 10m BEGIN SELECT mean(*) INTO homer."3600s".:MEASUREMENT FROM homer."60s"./.*/ GROUP BY time(1h),* END
CREATE CONTINUOUS QUERY cq_86400s ON homer RESAMPLE EVERY 1h BEGIN SELECT mean(*) INTO homer."86400s".:MEASUREMENT FROM homer."60s"./.*/ GROUP BY time(1d),* END

drop retention policy "autogen" ON "homer"
